*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

html,body{
    width:100%;
    height:100%;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-accent: #e6e0d8;
}

.loader{
    background: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-img {
    width: 20vw;
    height: 22vw;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.main{
    overflow-x: hidden;
    width: 100%;
    background-color: #fefdff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e6e6e' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.page1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fefdff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e6e6e' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

nav{
    width: 100%;
    height: 10vw;
    overflow: hidden;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding-right: 3.9vw;
}

nav .logo{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cecece;
    margin-left: 2.5vw;
    padding-bottom: 0.7vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
}
.logo img{
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-nav{
    position: fixed;
    right: 0;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    z-index: 99;
    padding-right: 1vw;
}

.sub-nav .nav-links{
    margin-bottom: 0px;
    transition:1s all ease-in-out;
    background: #cecece;
    border-radius: 7px;
    padding: 0.5vw 0.1vw;
    display: flex;
    align-items: center; 
    cursor: pointer;
    width: 10vw;
    justify-content: center;
}

.sub-nav p a:hover{
    padding-right: 10px;
    color: #ffffff;
}

.sub-nav a{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 600;
    color: #000;
    transition:0.3s all ease-in-out;
}

.so-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
}

.media{
    width: 2.5vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cecece;
    cursor: pointer;
    border-radius: 5px;

}

.so-media i{
    font-size: 1.3vw;
    cursor: pointer;
}

.icon-txt{
    width: 9.1vw;
    font-weight: 500;
    margin-top: 1vw;
    height: fit-content;
}



.hero-center{
    width: 70%;
    height: 80%;
    /* background: red; */
    position: absolute;
    left: 16%;
    top: 50%;
    transform: translate(0%, -50%);
}

.img-cont{
    overflow: hidden;
    position: absolute;
    width:00%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background: #000; */
}

.img-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    /* background: red; */
    width: 39vw;
    height:11.5vw;
    overflow: hidden;
    position: absolute;
    bottom: 40%;
    left: -10%;
    z-index: 999;
}
.hero-text .text{
    top: 11.5vw;
    /* font-size: 3vw; */
    position: absolute;
}
.hero-text .text h1{
    text-transform: capitalize;
    font-size: 4.9vw;
}
.hero-text .text p{
    font-weight: 500;
    font-size: 0.9vw;
    width: 29vw;
    /* background: red; */
    mix-blend-mode: difference;
}

.page2{
    width: 100%;
    padding-top: 5vw;
    padding-left: 10vw;
    overflow: hidden;
}

.wel{
    width: fit-content;
}

.page2 .wel p{
    font-size: 2vw;
    font-weight: 800;
    width: fit-content;
}

.page2 .wel-p{
    padding-top: 2vw;
    /* background: red; */
    width: 50vw;
    font-size: 1vw;
    margin-left: 15vw;
}

.wel-img{
    border-radius: 10px;
    width: 29vw;
    height: 20vw;
    margin-left: 45vw;
    margin-top: 4vw;
    object-fit: cover;

}

.offer{
    width: fit-content;
}

.offer p{
    font-weight: 800;
    padding-top: 4vw;
    margin-left: 58vw;
    width: fit-content;

}

.offer-p{
    padding-top: 2vw;
    width: 45vw;
    font-size: 1vw;
    margin-left: 15vw;
}

.offer-img{
    border-radius: 10px;
    width: 29vw;
    height: 20vw;
    object-fit: cover;
    margin-left: 2vw;
    margin-top: 4vw;
}

.choose{
    width: fit-content;
}

.choose p{
    padding-top: 4VW;
    font-size: 2vw;
    font-weight: 800;
    width: fit-content;
    padding-left: 2vw;
}

.choose-p{
    padding-top: 2vw;
    width: 45vw;
    font-size: 1vw;
    margin-left: 15vw;
}

.choose-img{
    border-radius: 10px;
    width: 29vw;
    height: 20vw;
    margin-left: 45vw;
    margin-top: 4vw;
    object-fit: cover;
}

.expo{
    margin-right: 9vw;
    padding-top: 15vw;
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    color: #585858;
    padding-bottom: 10vw;
}

.vis-mis{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 8vw;
    margin-bottom: 10vw;
}
.vis{
    width: 30vw;
    height: 16vw;
    padding-top: 2vw;
    border-right: 2px solid #000;
}
.vis p{
    width: 15vw;
    padding-top: 1vw;

}

.mis{
    padding-top: 2vw;
    /* width: 30vw; */
    height: 16vw;
}

.mis p{
    width: 16vw;
    padding-top: 1vw;
}

.page3{
    background: #6f6f6f7a;
    padding-bottom: 10vw;
}

.product{
    margin-left: 21.5vw;
    width: 50vw;
    color: #fff;
    padding-top: 10vw;
    
}
.product h1{
    margin-bottom: 2vw;
    font-size: 2.5vw;
}
.product p{
    font-size: 1.2vw;
    text-transform: lowercase;
}

.products{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 10vw;
}

.card-item{
    /* user-select: none !important; */
    width: 15vw;
    padding: 1.5vw;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    /* transition: all ease-in-out 0.4s; */
}

.card-item .uper-item{
    display: flex;
    flex-direction: column;
    line-height: -1px;    
    gap: 0.5vw;
}
.card-item .uper-item .card-h1 p{
    font-size: 1vw;
    font-weight: 600;
    color: #0000009a;
}
.card-item .uper-item .card-h1 p:nth-child(2){
    font-size: 0.7vw;
    padding: 0.1vw 0.4vw;
    border-radius: 5px;
    background-color: #f6bff6;
}


.card-item .card-h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-item .prod-image{
    width: 12vw;
    height: 12vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    background: #ffebbc;
    transition: all ease-in-out 0.3s;
}

.card-item:hover .prod-image{
    scale: 1.1;
}

.products2{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#strip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200%;
    height: 29%;
    gap: 0.5vw;
    margin-bottom: 10vw;
    background-color: transparent;
    animation: strip-anime 10s infinite linear;
}

#strip img{
    width:15vw;
    opacity: 0.9;
    height: 13vw;
    object-fit: cover;
    border-radius: 10px;
}
#strip .strip-img{
    width: 15.8vw;
}
@keyframes strip-anime {
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: -102%;
    }
}
#strip:hover{
    animation-play-state:paused;
    transition: all ease 0.5s;
}

.page4{
    padding-top: 10vw;
}

.page4 p{
    width: 65vw;
    font-size: 3vw;
    font-weight: 600;
    text-transform: capitalize;
    padding-left: 10vw;
    padding-bottom: 6vw;
    line-height: 3vw;
}

.page5{
    background: #6f6f6f;
    padding-bottom: 2vw;
}

.footer{
    padding-top: 5vw;
    height: 70vh;
    color: #fff;
    display: flex;
    justify-content: left;
    padding-left: 10vw;
    gap: 6vw;
    transition: all ease-in-out 0.3s;
}

.question{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.question h1{
    padding-bottom: 3vw;
}

.question p{
    padding-bottom: 1.5vw;
    transition: all ease-in-out 0.3s;
    width: fit-content;
    cursor: pointer;
    opacity: 0.7;
}

.question .qu{
    display: flex;
    justify-content: left;
    gap: 0.9vw;
}

.pro{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pro h1{
    padding-bottom: 3vw;
}

.pro p{
    padding-bottom: 0.6vw;
    transition: all ease-in-out 0.3s;
    width: fit-content;
    cursor: pointer;
    opacity: 0.7;

}

.links{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links h1{
    padding-bottom: 3vw;
}

.links p{
    padding-bottom: 0.8vw;
    transition: all ease-in-out 0.3s;
    width: fit-content;
    cursor: pointer;
    opacity: 0.7;

}

.footer p:hover{
    color: #000;
    font-weight: 700;
    padding-left: 0.5vw;
}

.copyright{
    color: #000;
    padding-left: 10vw;
    font-weight: 600;
    opacity: 0.8;

}

.copyright span a{
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

@media (max-width:600px) {
    .loader{
        background: #000;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .loader-img {
        width: 70vw;
        height: 78vw;
        /* background: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    
    
    .main{
        overflow-x: hidden;
        width: 100%;
        background-color: #fefdff;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e6e6e' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    .page1{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #fefdff;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e6e6e' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    nav{
        width: 100%;
        height: 10vw;
        overflow: hidden;
        display: flex;   
        align-items: center;
        justify-content: space-between;
        padding-right: 3.9vw;
    }
    
    nav .logo{
        width: 5vw;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #cecece00;
        margin-left: 2.5vw;
        padding-left: 6vw;
        padding-top: 7vw;
        border-radius: 10px;
        position: fixed;
        z-index: 99;
    }
    .logo img{
        width: 23vw;
        height: 23vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sub-nav{
        position: fixed;
        right: -5vw;
        top: 3%;
        display: flex;
        align-items: center;
        justify-content: right;
        flex-direction: row;
        gap: 2vw;
        z-index: 99;
        padding-right: 0vw;
    }
    
    .sub-nav .nav-links{
        margin-bottom: 0px;
        transition:1s all ease-in-out;
        background: #cecece;
        border-radius: 7px;
        padding: 2vw 6vw;
        display: flex;
        align-items:  center; 
        cursor: pointer;
        width: 10vw;
        justify-content: center;
    }
    
    .sub-nav p a:hover{
        padding-right: 10px;
        color: #ffffff;
    }
    
    .sub-nav a{
        text-decoration: none;
        font-size: 2.3vw;
        font-weight: 600;
        color: #000;
        transition:0.3s all ease-in-out;
    }
    
    .so-media{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        gap: 1vw;
        display: none;
    }
    .hero-center{
        width: 70%;
        height: 80%;
        /* background: red; */
        position: absolute;
        left: 16%;
        top: 50%;
        transform: translate(0%, -50%);
    }
    
    .img-cont{
        overflow: hidden;
        position: absolute;
        width:00%;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        /* background: #000; */
    }
    
    .img-cont img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .hero-text{
        width: 59vw;
        height:31.5vw;
        overflow: hidden;
        position: absolute;
        bottom: 40%;
        left: -10%;
        z-index: 999;
    }
    .hero-text .text{
        top: 76.5vw;
        position: absolute;
    }
    .hero-text .text h1{
        text-transform: capitalize;
        font-size: 8.9vw;
    }
    .hero-text .text p{
        font-weight: 500;
        font-size: 2.6vw;
        width: 49vw;
        color: #545454;
        mix-blend-mode: difference;
    }
    .page2{
        width: 100%;
        padding-top: 5vw;
        padding-left: 14vw;
        overflow: hidden;
    }
    
    .wel{
        width: fit-content;
    }
    
    .page2 .wel p{
        font-size: 4vw;
        font-weight: 800;
        width: fit-content;
    }
    
    .page2 .wel-p{
        padding-top: 7vw;
        /* background: red; */
        width: 50vw;
        font-size: 1.7vw;
        margin-left: 15vw;
    }
    
    .wel-img{
        border-radius: 10px;
        width: 49vw;
        height: 40vw;
        margin-left: 22vw;
        margin-top: 4vw;
        object-fit: cover;
    
    }
    
    .offer{
        width: fit-content;
    }
    
    .offer p{
        font-weight: 800;
        padding-top: 4vw;
        margin-left: 33vw;
        width: fit-content;
        font-size: 5vw;
    }
    
    .offer-p{
        padding-top: 2vw;
        width: 45vw;
        font-size: 1.7vw;
        margin-left: 15vw;
    }
    
    .offer-img{
        border-radius: 10px;
        width: 49vw;
        height: 40vw;
        object-fit: cover;
        margin-left: 2vw;
        margin-top: 4vw;
    }
    
    .choose{
        width: fit-content;
    }
    
    .choose p{
        padding-top: 4VW;
        font-size: 5vw;
        font-weight: 800;
        width: fit-content;
        padding-left: 2vw;
    }
    
    .choose-p{
        padding-top: 2vw;
        width: 45vw;
        font-size: 1.8vw;
        margin-left: 15vw;
    }
    
    .choose-img{
        border-radius: 10px;
        width: 49vw;
        height: 40vw;
        margin-left: 22vw;
        margin-top: 4vw;
        object-fit: cover;
    }
    
    .expo{
        margin-right: 9vw;
        padding-top: 15vw;
        font-size: 5vw;
        font-weight: 900;
        text-align: center;
        color: #585858;
        padding-bottom: 10vw;
    }
    
    .vis-mis{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 8vw;
        margin-bottom: 20vw;
        gap: 0vw;
    }
    .vis{
        width: 45vw;
        height: fit-content;
        padding: 3vw;
        background: #8e8e8e7a;
        border-radius: 10px;
        border-right: 0px solid #000;
        margin-right: 6vw;
    }
    .vis h1 p{
        font-size: 6vw;
        width: fit-content;
    }

    .vis p{
        width: 44vw;
        padding-top: 1vw;
        font-size: 4vw;
    }
    
    .mis{
        padding: 3vw;
        background: #8e8e8e7a;
        border-radius: 10px;
        width: 48vw;
        margin-right: 6vw;
        height: fit-content;
    }
    .mis h1 p{
        font-size: 6vw;
        width: fit-content;
    }
    .mis p{
        width: 44vw;
        padding-top: 1vw;
        font-size: 4vw;
    }
    .page3{
        background: #6f6f6f7a;
        padding-bottom: 10vw;
    }
    
    .product{
        margin-left: 10.5vw;
        width: 75vw;
        color: #fff;
        padding-top: 10vw;
        
    }
    .product h1{
        margin-bottom: 2vw;
        font-size: 5.5vw;
    }
    .product p{
        font-size: 2.7vw;
        text-transform: lowercase;
    }
    
    .products{
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-top: 10vw;
    }
    
    .card-item{
        /* user-select: none !important; */
        width: 22vw;
        height: 30vw;
        padding: 1.5vw;
        background: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vw;
        /* transition: all ease-in-out 0.4s; */
    }
    
    .card-item .uper-item{
        display: flex;
        flex-direction: column;
        line-height: -1px;    
        gap: 0.5vw;
    }
    .card-item .uper-item .card-h1 p{
        font-size: 2.2vw;
        font-weight: 600;
        color: #0000009a;
    }
    .card-item .uper-item .card-h1 p:nth-child(2){
        font-size: 0.7vw;
        padding: 0.1vw 0.4vw;
        border-radius: 5px;
        background-color: #f6bff6;
    }
    
    
    .card-item .card-h1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .card-item .prod-image{
        width: 19vw;
        height: 20vw;
        margin-bottom: 1vw;
        border-radius: 5px;
        background: #ffebbc;
        transition: all ease-in-out 0.3s;
    }
    
    .card-item:hover .prod-image{
        scale: 1.1;
    }
    
    .products2{
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    #strip{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200%;
        height: 29%;
        gap: 0.5vw;
        margin-bottom: 10vw;
        background-color: transparent;
        animation: strip-anime 10s infinite linear;
    }
    
    #strip img{
        width:15vw;
        opacity: 0.9;
        height: 13vw;
        object-fit: cover;
        border-radius: 10px;
    }
    #strip .strip-img{
        width: 15.8vw;
    }
    @keyframes strip-anime {
        0%{
            margin-left: 0%;
        }
        100%{
            margin-left: -102%;
        }
    }
    #strip:hover{
        animation-play-state:paused;
        transition: all ease 0.5s;
    }
    
    .page4{
        padding-top: 10vw;
    }
    
    .page4 p{
        width: 90vw;
        font-size: 5vw;
        font-weight: 600;
        text-transform: capitalize;
        padding-left: 10vw;
        padding-bottom: 6vw;
        line-height: 5vw;
    }
    .page5{
        background: #6f6f6f;
        padding-bottom: 2vw;
    }
    
    .footer{
        padding-top: 5vw;
        height: 90vh;
        color: #fff;
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding-left: 10vw;
        gap: 6vw;
        transition: all ease-in-out 0.3s;
    }
    
    .question{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    
    .question h1{
        padding-bottom: 3vw;
        font-size: 5vw;
    }
    
    .question p{
        padding-bottom: 1.5vw;
        transition: all ease-in-out 0.3s;
        width: fit-content;
        cursor: pointer;
        opacity: 0.7;
        font-size: 3.5vw;
    }
    
    .question .qu{
        display: flex;
        justify-content: left;
        gap: 0.9vw;
    }
    
    .pro{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .pro h1{
        padding-bottom: 3vw;
        font-size: 6vw;
    }
    
    .pro p{
        padding-bottom: 0.6vw;
        transition: all ease-in-out 0.3s;
        width: fit-content;
        cursor: pointer;
        opacity: 0.7;
        font-size: 3.5vw;
    }
    
    .links{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .links h1{
        padding-bottom: 3vw;
        font-size: 5vw;
    }
    
    .links p{
        padding-bottom: 0.8vw;
        transition: all ease-in-out 0.3s;
        width: fit-content;
        cursor: pointer;
        opacity: 0.7;
    
    }
    
    .footer p:hover{
        color: #000;
        font-weight: 700;
        padding-left: 0.5vw;
    }
    
    .copyright{
        color: #000;
        padding-left: 10vw;
        font-weight: 600;
        opacity: 0.8;
        font-size: 3vw;
    
    }
    
    .copyright span a{
        text-decoration: none;
        color: #000;
        font-weight: 800;
    }
    
}